h3 {
    font-size: 1.6em;
    margin-top: 2rem;
    margin-bottom: .4rem;
    font-weight: normal;
    color: #000000ee;
}
h4 {
    font-weight: normal;
}
p {
    color: #00000099;
}
.main-container {
    margin: 0 auto;
    width: 90vw;
    max-width: 40rem;

}