.contents-title {
    text-align: center;
}
.contents-desc {
    padding: 0;
    text-indent: 0;
    text-align: center;
}
.summary-more {
    font-size: 150%;
    text-align: center;
    margin: .5rem 0;
    margin-top: 0;
}
.map-frame {
    margin: 1rem auto;
    display: block;
}
.link-box{
    display: block;
}
#person-box-1 {
    background: linear-gradient(to left ,hsl(320deg,95%,88%), hsl(350deg,99%,86%));
}
#person-box-2 {
    background: linear-gradient(to left ,hsl(200deg,85%,90%), hsl(230deg,85%,95%));
}