.link {
    
    font-size: .8rem;
}
.files-box {
    display: flex;
column-gap: 3rem;
row-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.file-link {
    color: hsl(200deg,72%,50%);
}
.flaw-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    margin: .5rem 0;
    margin-top: 3rem;
}
.flaw-title:first-child {
    margin-top: .5rem;
}
.link-icon {
    height: 2rem;
}
.flaw-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: hsl(25deg,22%,60%);
    color: #eeeeeeee;
}
.flaw-text {
    text-align: justify;
}
.main-container {
    margin: 1rem auto;
    max-width: 40rem;
    padding: 0 1.5rem;
}
.flaw-box {
    margin: 0 auto;
    max-width: 45rem;
}
.contents-title {
    margin-top: 4rem;
}
.desc-plain {
    margin: 1rem auto;
}
.important {
   border-radius: 10px;
   border: solid 5px rgb(247, 141, 65); 
   padding: .5rem 1rem;
   text-align: justify;
}
.important > h3 > span {
    border-radius: 50%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: #ffffff;
    background: rgb(247, 141, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.important > h3 {
    display: flex;
    gap: 1rem;
    color: rgb(247, 141, 65);
    align-items: center;
    margin-bottom: .2rem;
}
.contents-desc {
    text-align: justify;
}
.important > dl >div {
    display: flex;
    flex-wrap: wrap;
}
table {
    border-spacing: 0;
}
td {
    padding: 0
}
td:first-child {
    padding-right: 1rem;
}
.important > h4 {
    font-size: 1.2rem;
    margin: .7rem 0 .1rem 0;
}
.small {
    font-size: .8rem;
    margin-top: .2rem;
}