.person-box {
    background: linear-gradient(60deg, hsl(190deg, 55%, 80%) 0%, hsl(220deg,65% ,90%));
    margin: 0;
    padding: 0;
    background: none;
}
.person-img {
    width: 3rem;
    height: 3rem;
    background: none;
    border-color: hsl(210deg, 90%, 70%);
}
.compact > .person-desc >.person-name {
    font-size: 100%;
    
}
.person-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    width: 90%;
    margin: 0 auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: .3rem;
}
.person-org {
    margin: 0;
}
.voice {
    font-size: 150%;
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.contents-title:first-of-type {
    margin-top: 3rem;
}
.card-box {
    width: 100vw;
}

@media only screen and (min-width: 768px) {
    .card-box {
        width: 30rem
    }
}
.main-container {
    margin: 1rem 0;
}
.summary-more {
    display: block;
    text-align: right;
}
.quote-box {
    margin: 1rem 0;
    background: linear-gradient(to left ,hsl(260deg,85%,90%),hsl(200deg,85%,90%) 35%,hsl(150deg,85%,90%),hsl(60deg,90%,85%),hsl(30deg,90%,85%) 65%,hsl(0deg,85%,90%));
    background: linear-gradient(to left, hsl(15deg,40%,92%),hsl(30deg, 40%,92%));
    border-radius: 10px;
    padding:  1rem 5%;
}
.quote-title {
    font-size: 100%;
    margin: 0;
    margin-bottom: .5rem;
}
.quote-text {
    /*font-family: 'Kiwi Maru',"ヒラギノ丸ゴ ProN W4","メイリオ",sans-serif !important;
    letter-spacing: .15rem !important;*/
    text-align: justify;
    margin-bottom: .5em;
    color: #333333cc;
}