.person-box {
    width: 100vw;
    border-radius: 0;
    margin: 0
}
.main-container {
    margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
    .person-box {
        margin: 3rem auto;
        width: unset;
        border-radius: 20px;
    }
}
.contents-title-small {
    color: #000000cc;
}
#person-box-1 {
    background: linear-gradient(70deg, hsl(200deg, 70%, 85%) 0%, hsl(260deg,80% ,90%));
}
#person-box-2 {
    background: linear-gradient(70deg, hsl(40deg, 70%, 85%) 0%, hsl(100deg,80% ,90%));
}
#person-box-3 {
    background: linear-gradient(70deg, hsl(340deg, 70%, 85%) 0%, hsl(20deg,80% ,85%));
}
#person-box-4 {
    background: linear-gradient(70deg, hsl(140deg, 70%, 85%) 0%, hsl(200deg,80% ,90%));
}
* {
    /*border: 1px black solid;*/
    color: #333333cc;
}