.person-box {
    width: 100vw;
    border-radius: 0;
}
.main-container {
    margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
    .person-box {
        width: unset;
        border-radius: 20px;
    }
}
.contents-title-small {
    color: #000000cc;
}
#person-box-1 {
    background: linear-gradient(70deg, hsl(200deg, 70%, 85%) 0%, hsl(260deg,80% ,90%));
}
#person-box-2 {
    background: linear-gradient(70deg, hsl(40deg, 70%, 85%) 0%, hsl(100deg,80% ,90%));
}
* {
    /*border: 1px black solid;*/
}